@media print{
    .navbar{
        display: none;
    }
    body{
        background-color: white;
        color: black;
        font-size: 0.75em;
    }
    .img_right{
        width: 8%;
    }
    .img_right_bigger{
        width: 12%;
    }
    .img_center{
        width: 20%;
        float: right;
        margin-right: 20px;
        margin-left: 15px;
    }
    .nb1logo{
        width: 20%;
        float: right;
        margin-right: 20px;
        margin-left: 15px;
    }
    strong{
        color: black;
    }
    details{
        display: none;
    }
    video{
        display: none;
    }
    header a:first-child{
        display: none;
    }
    header a:nth-child(2){
        display: none;
    }
    .nb1tabella{
        color: black;
    }
    .nb1tabellasz{
        color: black;
    }
    .nb1tabellah{
        color: black;
    }
    form{
        display: none;
    }
    h2#urlap{
        display: none;
    }
    li{
        font-size: 0.8em;
    }
    figcaption{
        display: none;   
    }
    h2{
        margin-bottom: -10px;
        margin-top: -3px;
    }
    .rejtett{
        display: none;
    }
}